/*Red Hat Display font*/
@import url("https://fonts.google.com/specimen/Red+Hat+Display");

* {
  box-sizing: border-box;

  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: hsl(245, 75%, 52%);

  --neutral-very-pale: hsl(225, 100%, 98%);
  --neutral-desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);

  font-family: "Red Hat Display", sans-serif;
}
html {
}

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: var(--primary-pale);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main {
  /*Position to middle of screen*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  background-color: white;
  /*Size*/
  height: 500px;
  width: 325px;

  display: flex;
  flex-direction: column;
}
.main__hero-pic {
  background-image: url("images/illustration-hero.svg");
  /*Workaround for Flexbox to adjust taken space in column, TODO: Find a nicer way*/
  height: 55%;

  background-position: center;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main__content {
  /*Workaround for Flexbox to adjust taken space in column, TODO: Find a nicer way*/
  height: 100%;

  width: 80%;
  margin: auto;
}

.main__content__text-section {
  text-align: center;
}

.main__content__text-section p {
  font-weight: 500;
  color: var(--neutral-desaturated);
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  /*TODO: Need way to set width as in the preview, still not perfect*/
  width: 100%;
}
.main__content__text-section h3 {
  font-weight: 900;
  color: var(--neutral-dark);
}

.main__order {
  display: flex;
  margin: auto;
  background-color: var(--neutral-very-pale);
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.8em;
  border-radius: 10px;
}

.main__order__icon img {
  transform: scale(0.9);
}

.buttons {
}

.btn {
  margin: auto;
  text-align: center;

  padding-top: 1em;
  padding-bottom: 1em;

  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.btn-1 {
  background-color: var(--primary-bright);
  color: white;
  border-radius: 8px;
  box-shadow: 1px 10px 40px -8px var(--primary-bright);
}

.btn-2 {
  margin-top: 10px;

  color: var(--neutral-desaturated);
}
.btn:hover {
  cursor: pointer;
}

.main__order__text {
}

.main__order__text__1 {
  color: var(--neutral-dark);
  font-weight: 900;
}

.main__order__text__2 {
  color: var(--neutral-desaturated);
  font-weight: 500;
}
